header {
  margin-bottom: 50px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  max-height: 50px;
}

.container {
  margin-bottom: 50px;
}

header > .container {
  margin-bottom: 0px;
}

.loginForm, .registrationForm {
  margin-top: 50px;
}

.loginForm .btn-primary, .registrationForm .btn-primary {
  margin-right: 5px;
}

