header {
  margin-bottom: 50px;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.loginForm, .registrationForm {
  margin-top: 50px;
}

.loginForm .btn-primary, .registrationForm .btn-primary {
  margin-right: 5px;
}
