header {
  margin-bottom: 50px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  max-height: 50px;
}

.container {
  margin-bottom: 50px;
}

header > .container {
  margin-bottom: 0px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.form-inline label {
  margin-right: 5px;
  margin-left: 5px;
}

.form-inline input {
  max-width: 150px;
}

.form-inline .actions {
  margin-left: 10px;
}

.notifications {
  position: fixed;
  right: 0px;
}

.mealTableRow .btn-default {
  margin-right: 5px;
}

.loginForm, .registrationForm {
  margin-top: 50px;
}

.loginForm .btn-primary, .registrationForm .btn-primary {
  margin-right: 5px;
}

